@model HomeViewModel
@{
    ViewData["Title"] = "Other Page";
}

<div>
    <p>Check out our <a asp-controller="Home" asp-action="Index">Home page</a>!</p>
</div>
<footer>
    <p asp-controller="other" asp-action="Index">the number of visits to the page count is @Model.totalCount and @Model.currentCount visits this session!</p>
</footer>